.productListContainer{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width:600px){
  .productListContainer{
    padding: 0px;

  }

}
